# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
	. "$HOME/.bashrc"
    fi
fi

{% if free_user is defined %}
if ! [ $UID = 0 ];then
#	echo "Message automatique désactivé. Penser à le réactiver dans ~/.profile"
	curl -G "https://smsapi.free-mobile.fr/sendmsg?user=31705805&pass=czOJFlrd7BIErI&msg=Connexion en ssh sur $HOSTNAME depuis `echo $SSH_CLIENT | cut -d ' ' -f -1` avec le compte `whoami`"
fi
{% endif %}
